Django==1.10
eventlog
django-registration
django-datetime-widget
django-materialize-css
django-material
django-phonenumber-field
django-multiupload
git+https://github.com/rodrigoamaral/django-fullcalendar.git#egg=django-fullcalendar
Pillow
reportlab
WeasyPrint
