{% load fullcalendar_tags %}
{% load staticfiles %}
{% load material_form %}
<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{%endblock%}HealthNet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Fullcalendar stuff, oh fun-->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <style>    .waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(0, 176, 255, 0.65);
      }</style>
    {% block header %} {%endblock%}
    <ul id="dropdown1" class="dropdown-content">

      <li><a class="waves-effect waves-light blue-text" href="/account">Account</a></li>
      <li class="divider"></li>
      <li><a class="waves-effect waves-light blue-text" href="/logout">Logout</a></li>
    </ul>
    {% block nav %}
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-blue accent-3">
          <a href="/" class="brand-logo">myHealth</a>
            <ul class="right hide-on-med-and-down">

            {% if permissions == 'admin' %}
            <li><a class="waves-effect waves-light" href="/admin/">Admin Dashboard</a></li>

            {% elif permissions == 'doctor' %}
            <li {% block active_patients %} {% endblock %}><a class="waves-effect waves-light" href="/patients">Patients</a></li>
            <li {% block active_account %} {% endblock %}><a class="dropdown-button" href="#!" data-activates="dropdown1">Dr. {{user.last_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% elif user.is_authenticated %}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
            <li><a class="waves-effect waves-light" href="/register">Register</a></li>
            <li><a class="waves-effect waves-light" href="/login">Login</a></li>
            {% endif %}
            <!-- Dropdown Trigger -->
          </ul>
        </div>
      </nav>
    </div>
  {% endblock %}

  </head>
  <body>
    {% block body %}
        <p>Basic template loaded. Body not overwritten.</p>
    {% endblock %}
  </body>
    <footer>
    <!--Import jQuery before materialize.js-->
     {% block footer %}
              <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
              <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
              <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
      {% endblock %}
      {% include 'material/includes/material_css.html' %}
      {% include 'material/includes/material_js.html' %}

    </footer>
</html>
