{% load fullcalendar_tags %}
{% load staticfiles %}
{% load material_form %}
<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{%endblock%}HealthNet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Fullcalendar stuff, oh fun-->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <style>    .waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(0, 176, 255, 0.65);
      }</style>
    {% block header %} {%endblock%}

        {% fullcalendar_css %}
        {% fullcalendar_print_css %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>

        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}

        {% calendar_init calendar_config_options %}
    <ul id="dropdown1" class="dropdown-content">

      <li><a class="waves-effect waves-light blue-text" href="/account">Account</a></li>
      <li class="divider"></li>
      <li><a class="waves-effect waves-light blue-text" href="/logout">Logout</a></li>
    </ul>
    {% block nav %}
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-blue accent-3">
          <a href="/" class="brand-logo">myHealth</a>
            <ul class="right hide-on-med-and-down">

            {% if permissions == 'admin' %}
            <li><a class="waves-effect waves-light" href="/admin/">Admin Dashboard</a></li>

            {% elif permissions == 'doctor' or permissions == 'nurse'%}
            <li {% block active_patients %} {% endblock %}><a class="waves-effect waves-light" href="/patients">Patients</a></li>
            <li {% block active_account %} {% endblock %}><a class="dropdown-button" href="#!" data-activates="dropdown1">{% if permissions == 'doctor' %}Dr. {% elif permissions == 'nurse'%}Nurse {%endif%}{{user.last_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% elif user.is_authenticated %}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{user.first_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
            <li><a class="waves-effect waves-light" href="/register">Register</a></li>
            <li><a class="waves-effect waves-light" href="/login">Login</a></li>
            {% endif %}
            <!-- Dropdown Trigger -->
          </ul>
        </div>
      </nav>
    </div>
  {% endblock %}

  </head>
  <body>
    <div id="apt-modal" class="modal modal-fixed-footer">

      <form action='.' method='post' enctype="multipart/form-data">
          <div id="apt-div">
          </div>
    </div>
    {% block body %}

        <p>Basic template loaded. Body not overwritten.</p>
    {% endblock %}

    <div class="fixed-action-btn horizontal">
      {% if permissions == 'doctor' %}
       <a id="menu" class="btn-floating btn-large red">
       <i class="large material-icons">mode_edit</i>
       {% else %}
       <a id="menu" class="btn-floating btn-large red" onclick="newAppointment()">
       {% endif %}
       <i class="large material-icons">library_add</i>
     </a>
     <ul>
       {% if permissions == 'doctor' %}
       <li><a class="btn-floating red" onclick="newAppointment()"><i class="material-icons">library_add</i></a></li>
       <li><a class="btn-floating green" onclick="newPrescription()"><i class="material-icons">playlist_add</i></a></li>
       {% endif %}
     </ul>

    </div>
  </body>
    <footer>
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
      {% include 'material/includes/material_css.html' %}
      {% include 'material/includes/material_js.html' %}

      <script type="text/javascript">
      $(document).ready(function(){
            $('.modal').modal();
            $('.parallax').parallax();
      });
      function newAppointment(){
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          }
        });
        $.get("/appointments/new/",function(response){
            $('#apt-div').html(response);
        });
        $('#apt-modal').modal('open');
      }

      function newPrescription(){
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          }
        });
        $.get("/prescriptions/new/",function(response){
            $('#apt-div').html(response);
        });
        $('#apt-modal').modal('open');
      }


      (function( $ ){
         $.fn.healthToast = function(text) {
            alert('TEST BOY')
            Materialize.toast('I am a toast!', 3000, 'rounded')
            alert('hello world');
            return this;
         };
      })( jQuery );

      function closeModal(){
        $('#apt-modal').modal('close');
      }
      </script>

    </footer>
</html>
