{% extends "basic.html" %}
{% load fullcalendar_tags %}
{% load material_form %}

{% block active_dashboard %}class="active"{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <br>
    <div id="main-container" class="">

        <div class="row">
        <div class="col s8">
        {% calendar %}
        </div>
        <div class="col s4">
          {% if permissions == 'patient' %}

          {% if prescriptions %}

              <ul class="collection with-header">
                  <li class="collection-header"><p>Prescriptions</p></li>
                      {% for prescription in prescriptions %}
                          <li class="collection-item">
                              <div>
                                  {{prescription}}

                              </div>
                          </li>
                      {% endfor %}
              </ul>

          {% else %}
              <p>You currently do not have any prescribed medications.</p>

          {% endif %}


          {% for appointment in appointments %}
          <ul class="collapsible" data-collapsible="accordion">
          <li>
          {% if permissions != 'patient' or appointment.released == True %}
          <div class="collapsible-header">Results from {{appointment.title}} on {{appointment.start}}</div>
          <div id="" style="border-bottom: 0px" class="collapsible-body">
            {{appointment.attachment_cards}}
          </div>
          </li>
          {% endif %}
          {% endfor %}
          </ul>
          {% elif permissions == 'doctor' or permissions == 'nurse' %}
              <br><br>
              <ul class="collapsible" data-collapsible="accordion">


              {% for patient in patients %}
              <li>
                <div class="collapsible-header">{{patient.user.first_name}} {{patient.user.last_name}}</div>
                <div id="pat-div{{patient.patient_id}}" style="border-bottom: 0px" class="collapsible-body">
                  {{patient.card}}
                  <div class="container">
                  <a class=" btn-flat" type="submit" onclick="getPrescriptions({{patient.patient_id}})">View{% if permissions == 'doctor'%}/Edit{%endif%} Medications</a>
                  </div>
                </div>

                <div id="pat-actions{{patient_id}}" class="collapsible-body">
                  <form action='.' method='post' enctype="multipart/form-data" id="patform{{patient.patient_id}}"/>
                    <a class="waves-effect waves-light btn light-blue accent-3" onclick="updatePatient({{patient.patient_id}})">Update</a>
                    {% if patient.admitted %}
                    <button class="waves-effect waves-light btn red" type="submit" name="discharge_patient" value="{{patient.patient_id}}">Discharge</button>
                    {% else %}
                    <button class="waves-effect waves-light btn red" type="submit" name="admit_patient" value="{{patient.patient_id}}">Admit</button>
                    {% endif %}
                  </form>
                </div>
              </li>


              {% endfor %}
              </ul>
          {% endif %}
        </div>
      </div>



    </div>
    {% else %}

    <div id="index-banner" class="parallax-container">
  				<br><br>
  				<h1 class="header center">Your Lifeline</h1>
  				<div class="row center">
  					<h5 class="header col s12 light">We take the middleman out of medicine.</h5>
  				</div>
  		<div class="parallax img"><img src="/media/img/main.png"></div>
  	</div>

  	<div class="container">
  		<div class="section">
  			<div class="row">
  				<div class="col s12 m4">
  					<div class="icon-block">
  						<h2 class="center blue-text"><i class="mdi-hardware-desktop-windows"></i></h2>
  						<h5 class="center">Fast and light</h5>

  						<p class="light">Tomorrow is built using the latest in web and mobile technology. Tomorrow looks and works the same on every device you own, from your phone to your desktop. Tomorrow is available wherever you are, to help you get whatever you need done.</p>
  					</div>
  				</div>

  				<div class="col s12 m4">
  					<div class="icon-block">
  						<h2 class="center blue-text"><i class="mdi-social-people"></i></h2>
  						<h5 class="center">Built for humans</h5>

  						<p class="light">No one wants to use a planer that is deigned for robots. So why do we insist on doing so? Tomorrow elminates stress by only letting you plan tasks for Tomorrow. Soon Tomorrow will include automatic reminders throughout the day so that you don't need to plan your life around tasks, but so that you can plan tasks around your life.</p>
  					</div>
  				</div>

  				<div class="col s12 m4">
  					<div class="icon-block">
  						<h2 class="center blue-text"><i class="mdi-action-settings"></i></h2>
  						<h5 class="center">Productivity focused</h5>

  						<p class="light">Tomorrow is designed to make sure you get everything that you need to do out of the way, so you can live your life. We have built the app to place your productivity first and foremost, and signifigantly increases productivity when used versus similar applications.</p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
    {% endif %}
    <!-- Tap Target Structure -->
    <div class="tap-target red light-2" data-activates="menu">
      <div class="tap-target-content white-text">
        <h5>Welcome to myHealth!</h5>
        <p>{% if permissions == 'doctor'%}Hover over this button to open up your 'new' menu. It allows you to add new appointments, tests, and prescriptions!
          {% else %}
          Click this button to add a new appointment!
          {% endif %}

        </p>
      </div>
    </div>
<style>

</style>

{% block footer %}
<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function(){
var auto_open = '{{error}}'
var toast_msg = '{{notification}}'
if (auto_open == 'True'){
    $('#apt-modal').modal('open');
}
if (toast_msg != null){
   Materialize.toast(toast_msg, 8000)
}
$('.tap-target').tapTarget('{{opentap}}').delay(2000);

});
</script>

{% endblock %}
{% endblock %}
