{% extends "basic.html" %}
{% load fullcalendar_tags %}
{% block header %}

        {% fullcalendar_css %}      
        {% fullcalendar_print_css %}        
        {% fullcalendar_jquery %}
        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}
        
        {% calendar_init calendar_config_options %}

{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
    <br>
    {% csrf_token %}
    <div class="container">
          <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                </div>
        </div>
        {% calendar %}
    </div>
    {% else %}
    <p>YOU NEED TO LOG IN, MY BOY!</p>
    {% endif %}
{% endblock %}
{% block footer %}

<script type="text/javascript"> $(document).ready(function(){
    $('.modal').modal();
  });
</script>
  {%endblock%}