<!--profile-updated page-->
{% extends "basic.html" %}
{% block active_account %}class="active"{% endblock %}
{% block title %}
Update Profile - 
{%endblock%}
{% block body %}

<div class="container">
    <section class="content">
        <form method="post">
            {% csrf_token %}
            <!--update userform: email address, first and last name-->
            <table id='profile_form'>
                {{ update_form.as_table }}
            </table>
            <!--update patientform: phone number, height and weight-->
            <table id='patient_form'>
                {{ p_updateform.as_table }}
            </table>
        <button class="waves-effect waves-light btn light-blue accent-3" type="submit" value="login">Save changes<i class="material-icons right">system_update_alt</i></button>
        <a class="waves-effect waves-light btn waves-blue accent-3" href="/account">Cancel</a>
        </form>
    </section>
</div>

{% endblock %}
{% block actionable %}
{% endblock %}

