{% extends "basic.html" %}
{% block active_account %}class="active"{% endblock %}
{% block body %}
<div class="container">
    <section class="content">

        <form method="post">
          {% csrf_token %}
          <table id='profile_form'>
              {{ update_form.as_table }}
          </table>
          <table id='patient_form'>
              {{ p_updateform.as_table }}
          </table>
          <button class="waves-effect waves-light btn light-blue accent-3" type="submit" value="login">Save changes<i class="material-icons right">system_update_alt</i></button>
        </form>
    </section>
</div>
{% endblock %}
