<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css"/ />
  <script src="../../static/js/bootstrap.js"></script>
  {{ cal_form.media }}
</head>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<body class="hold-transition skin-blue sidebar-mini">
<div class="content-wrapper">
    <section class="content-header">
      <h1>Appointment Creation</h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Create Appointment</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <div id="form">
    <h3 class="box-title">Appointment</h3>
        <form action='/appt/create/' method='post'>
            {% csrf_token %}
            <table>
                {{ cal_form.as_table }}
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
  </div>
</body>
</html>
