<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s4">
        {% if user.doctor.profile_picture %}
            <img src={{user.doctor.profile_picture.url}} alt="Profile Picture" class="circle responsive-img">
        {% else %}
            <img src="../../static/blank_picture.png" alt="Profile Picture" class="circle responsive-img">
        {% endif %}
    </div>
    <div class="col s9 card-stacked">
      <div class="card-content">
        <h4>Dr. {{user.last_name}}</h4>
      </div>
      <div class="card-content">
        <span class="black-text">Email: {{user.email}}</span>
      </div>
      <div class="card-content">
        <span class="black-text">Phone: {{user.doctor.phone_number}}</span>
      </div>
      <div class="card-action row">
          <a class="waves-effect waves-blue btn-flat" href="mailto:{{user.email}}"><i class="material-icons left">email</i>Email</a>
          <a class="waves-effect waves-blue btn-flat" href="tel:{{user.doctor.phone_number}}"><i class="material-icons left">phone</i>Call</a>
      </div>
    </div>
  </div>
</div>
