<script src="/static/js/healthnet.js"></script>
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s4">
        {% if user.patient.profile_picture %}
            <img src={{user.patient.profile_picture.url}} alt="Profile Picture" class="circle responsive-img">
        {% else %}
            <img src="../../static/blank_picture.png" alt="Profile Picture" class="circle responsive-img">
        {% endif %}
    </div>
    <div class="col s12 card-stacked">
      <div class="card-content">
        <h4>{{user.first_name}} {{user.last_name}}</h4>
      </div>
      <div class="card-content">
        <span class="black-text">Email: {{user.email}}</span>
      </div>
      <div class="card-content">
        <span class="black-text">Date of Birth: {{user.patient.date_of_birth}}</span>
      </div>
      <div class="card-content">
        {% if user.patient.admitted == True %}
        <span class="black-text">Hospital: {{user.patient.hospital}}</span>
        {% else %}
        <span class="black-text">Hospital: Not Admitted</span>
        {% endif %}
      </div>
      <div class="card-content">
        <span class="black-text">Height: {{user.patient.height}} inches</span>
      </div>
      <div class="card-content">
        <span class="black-text">Weight: {{user.patient.weight}} pounds</span>
      </div>
      <div class="card-action row">
          <a class="waves-effect waves-blue btn-flat" href="mailto:"{{user.email}}><i class="material-icons left">email</i>Email</a>
          <a class="waves-effect waves-blue btn-flat" href="tel:{{user.patient.phone_number}}"><i class="material-icons left">phone</i>Call</a>
      </div>
    </div>
  </div>
</div>
